<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Bounce List
                <small>List of bounced mails</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Bounce List</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Results</strong>
                </div>

                <div class="panel-body">
                    <table id="bounce-table">
                        <thead>
                            <tr>
                                <th>Notification Time</th>
                                <th>User e-mail</th>
                                <th>Sender e-mail</th>
                                <th>Sender location</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Notification Time</th>
                                <th>User e-mail</th>
                                <th>Sender e-mail</th>
                                <th>Sender location</th>
                                <th>Subject</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>2017-08-10</td>
                                <td>example@invalid.com</td>
                                <td>myTestServer@test.qa</td>
                                <td>QA</td>
                                <td>Wilkommen test</td>
                            </tr>
                            <tr>
                                <td>2017-10-01</td>
                                <td>semi@test.invalid</td>
                                <td>myTestServer@test.qa</td>
                                <td>kundeunivers</td>
                                <td>Guten tag test</td>
                            </tr>
                            <tr>
                                <td>2017-07-13</td>
                                <td>daniel@csharp.net</td>
                                <td>purchaseNotify@testing.qa</td>
                                <td>QA3</td>
                                <td>Purchase confirmation</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

