<div complaint-table ng-controller="ComplaintCtrl" class="container">
<div class="panel panel-default" style="margin-top: 20px">
    <strong>Complaints</strong> – The email was successfully delivered to the recipient. The recipient marked the email as spam.
</div>

    <div class="row">
        <div class="col-lg-12">
            <div ng-include src="'partials/filters.html'"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Results</strong>
                </div>

                <div class="panel-body">
                    <input type="button" id="load-more" class="btn btn-default" value="Load">
                    <table id="bounce-table">
                        <thead>
                        <tr>
                            <th>Notification Time</th>
                            <th>User e-mail</th>
                            <th>Sender e-mail</th>
                            <th>Sender location</th>
                            <th>Subject</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Notification Time</th>
                            <th>User e-mail</th>
                            <th>Sender e-mail</th>
                            <th>Sender location</th>
                            <th>Subject</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

