<div class="panel panel-default text-center">
    <div class="panel-heading">
        <strong>Filters</strong>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"> From</span>
                    </div>
                    <input type="date" id="date_from" name="date_from"
                           ng-model="date_from"
                           value="{{date_from}}"
                           class="form-control search-filter"
                           placeholder="Date from">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"> To</span>
                    </div>
                    <input type="date" id="date_to" name="date_to" ng-model="date_to" value="{{date_to}}"
                           class="form-control search-filter">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user"> User email</span>
                    </div>
                    <input type="email" id="user_mail" name="user_mail"
                           class="form-control search-filter" placeholder="User email">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-cloud"> Sender mail</span>
                    </div>
                    <input type="email" id="sender_mail" name="sender_mail"
                           class="form-control search-filter" placeholder="Sender mail">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"> Email subject</span>
                    </div>
                    <input id="email_subject" name="email_subject"
                           class="form-control search-filter" placeholder="Subject">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-hdd"> Sent from</span>
                    </div>
                    <input id="sent_from" name="sent_from"
                           class="form-control search-filter" placeholder="Sent from">
                </div>
            </div>
            <div class="col-sm-1">
                <button id="search" class="btn btn-default">Search</button>
            </div>
        </div>
    </div>
</div>
