<div class="container">
  <div class="panel panel-default" style="margin-top: 20px">
    <strong>Bounces</strong> – The recipient's mail server permanently rejected the email. This event corresponds to hard bounces.
    Soft bounces are only included when Amazon SES fails to deliver the email after retrying for a period of time.
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-dashboard-form [data]="data" (getData)="getData($event)"></app-dashboard-form>
    </div>
  </div>

</div>

