<div class="container">
  <div class="panel panel-default" style="margin-top: 20px">
    <strong>Bounces</strong> – The recipient's mail server permanently rejected the email. This event corresponds to hard bounces.
    Soft bounces are only included when Amazon SES fails to deliver the email after retrying for a period of time.
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-dashboard-form [data]="data" (getData)="getData($event)"></app-dashboard-form>
    </div>
  </div>

  <div class="panel panel-default text-center mt-2">
      <table  class="table table-striped table-hover" >
        <thead><td colspan="2" class="warning">Search stats</td></thead>
        <thead><td colspan="2" class="info">By sender location</td></thead>
        <tbody *ngIf="data.stats">
        <tr *ngFor="let item of data.stats.sender_location | keyvalue">
          <td> {{item.key | json}} </td><td>{{item.value | json}} </td>
        </tr>
        </tbody>
        <thead><td colspan="2" class="info">By subject</td></thead>
        <tbody *ngIf="data.stats">
        <tr *ngFor="let item of data.stats.subject | keyvalue">
          <td>{{item.key | json}} </td><td>{{item.value | json}} </td>
        </tr>
        </tbody>
      </table>
  </div>

</div>

